/* Scrolling Start */

/*! Firefox */

html {
    scrollbar-color: #080808 #a6a7a8;
}

/*! Other Browser */

html {
    --scrollbarBG: #ECEEF2;
    --thumbBG: #BEC6D0;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* Scrolling End */

/* text resize */
#lnkIncrease{
    font-size:14px !important;
}
#lnkNormal{
    font-size:12px !important;
}
#lnkDecrease{
    font-size:10px !important;
}


@media screen and (max-width: 768px) {
    #lnkDecrease, #lnkNormal, #lnkIncrease{
        display: none;
    }
}
/* text resize */
.all_platforms {
    background-image: url(../img/dots_top.png), url(../img/pattern/pattern-6.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-position: top left, center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
}
.navbar-bg {
    background-image: url(../img/clouds.png),url(../img/pattern/pattern-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.eServices {
  background-image: url(../img/pattern/pattern-7.png),url(../img/pattern/pattern-12.png);
  background-size: 490px, 249px;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, bottom right;
}