/* Scrolling Start */

/*! Firefox */
body {
    background-image: url(../img/pattern.png);
}
html {
    scrollbar-color: #080808 #a6a7a8;
}

/*! Other Browser */

html {
    --scrollbarBG: #ECEEF2;
    --thumbBG: #BEC6D0;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

/* Scrolling End */

/* text resize */
#lnkIncrease{
    font-size:14px !important;
}
#lnkNormal{
    font-size:12px !important;
}
#lnkDecrease{
    font-size:10px !important;
}


@media screen and (max-width: 768px) {
    #lnkDecrease, #lnkNormal, #lnkIncrease{
        display: none;
    }
}
/* text resize */
.all_platforms {
    background-image: url(../img/dots_top.png), url(../img/pattern/pattern-6.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-position: top left, center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
}
.navbar-bg {
    background-image: url(../img/new-01-01.png), url(../img/pattern/pattern-14.png),url(../img/pattern/pattern-1.png);
    background-size: auto ,170px, contain;
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: 193px bottom, bottom right;
}
.navbar-bg::before {
    background-color: rgba(204, 201, 201, 0.171);
	border-radius: inherit;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0
}
/* .eServices {
  background-image: url(../img/pattern/pattern-7.png), url(../img/pattern/pattern-13.png),url(../img/pattern/pattern-12.png);
  background-size: 490px, 490px, 249px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom left, bottom center, bottom right;
} */
.eServices {
    background-image: url(../img/pattern/pattern-7.png), url(../img/pattern/pattern-24.png);
    background-size: 490px, 211px;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, right 325px bottom 25px;
}
.eServices-main {
    background-image: url(../img/new-01-01.png), url(../img/pattern/pattern-24.png);
    background-size: auto, 165px;
    background-repeat: repeat ,no-repeat;
    background-position:  top 125px left;
}
.footer-bg {
    background-image: url(../img/new-01-01.png);
    background-size: auto;
    background-repeat: repeat;
    background-position: bottom right;
}
.latest-bg {
    background-image: url(../img/pattern/pattern-18.png), url(../img/pattern/pattern-20.png);
    background-size: 149px, 149px;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
}

.card-border-moi {
    border-top: 2px solid rgb(200, 16, 46) ; 
    border-bottom: 2px solid rgb(0, 154, 68);
 }
 .separator {
    color: #c5a47e;
    margin: 0 auto 20px;
    max-width: 240px;
    text-align: center;
    position: relative;
  }
  .separator:before, .separator:after {
    display: block;
    width: 40%;
    content: " ";
    margin-top: 10px;
    border: 1px solid #c5a47e;
  }
  .separator:before {
    float: left;
  }
  .separator:after {
    float: right;
  }
  
  .separator-danger {
    color: #009A44;
  }
  .separator-danger:before, .separator-danger:after {
    border-color: #C8102E;
  }

  .page-section {
    padding: 75px 0;
    display: block;
    position: relative;
    width: 100%;
}
.what_wedo1 {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.583333px;
    text-transform: uppercase;
    color: #595959;
}

.what_wedo2 {
    font-style: normal;
    margin-top: 15px;
    font-weight: bold;
    font-size: 77px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1.33333px;
    color: #1A1A1A;
    opacity: 0.04;
}
.section-title {
    border-bottom-width: 0px;
    margin-bottom: 40px;
    position: relative;
}
.title {
    font-weight: bold;
    font-size: 45px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1.33333px;
    color: #1A1A1A;
    margin-top: -35px;
}
.section-title h1:before, .section-title h2:before {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    right: 0;
    margin: -2px auto;
    position: absolute;
    width: 40px;
}
.works_bg {
    background: url('../img/oman_flag_bg.svg');
    background-size: auto;
}
/* Item-box */
.item-box {
    padding-bottom: 70px;
}
.item-box a:not(.btn), .img3-border {
    color: #171717;
    display: inline-block;
    transition: opacity 0.2s linear 0s;
    text-decoration: none;
    border: solid 1px #BFC6CF;
    width: 100%;
}
.img1_holder {
    background: #FFFFFF;
    box-shadow: 0px 20.967px 61.1538px rgb(0 0 0 / 6%);
    padding: 28px 35px;
    text-align: center;
    margin-top: 0px;
    border-radius: 41.0604px;
}
.img1_holder h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    margin-top: 25px;
    color: #1A1A1A;
}
.img1_holder .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #5061B3;
}
.box_shadow {
    background: #FFFFFF;
    box-shadow: 0px 20.967px 61.1538px rgb(0 0 0 / 6%);
    border-radius: 35.8187px;
    width: 286.55px;
    margin: -65px auto;
    height: 80.37px;
}
.img2_holder {
    background: #FFFFFF;
    box-shadow: 0px 20.967px 61.1538px rgb(0 0 0 / 6%);
    padding: 28px 35px;
    text-align: center;
    margin-top: 0px;
    border-radius: 41.0604px;
}
.img2_holder h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    margin-top: 25px;
    color: #1A1A1A;
}
.img2_holder .text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #5061B3;
}
.img3_holder {
    background: #FFFFFF;
    box-shadow: 0px 20.967px 61.1538px rgb(0 0 0 / 6%);
    padding: 28px 35px;
    text-align: center;
    margin-top: 0px;
    border-radius: 41.0604px;
    border: solid 1px #BFC6CF;
}
/************************FOR MOBILE DEVICES ************************************/
@media (min-width:320px) and (max-width: 667px) {
.page-section {
    padding: 25px 0;
}
.what_wedo2 {
    font-size: 37px;
}
}
/************************FOR IPAD MINI DEVICES ************************************/
@media (min-width: 768px) and (max-width:909px) {
.page-section {
    padding: 15px 0;
}
.what_wedo2 {
    font-size: 57px;
}
}